<form [formGroup]="form" name="contactForm" (submit)="saveContact()" novalidate>

  <!-- Name -->
  <div class="form-group">
    <label for="name">Name:</label>
    <div [ngClass]="{ 'has-success': form.controls['name'].valid, 'has-error': form.controls['name'].dirty && form.controls['name'].errors }">
      <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name" autocomplete="off">
      <ul class="help-block">
        <li *ngIf="form.controls['name'].dirty && form.controls['name'].errors?.required">This field is required.</li>
        <li *ngIf="form.controls['name'].dirty && form.controls['name'].errors?.minlength">Minimal length is 1</li>
        <li *ngIf="form.controls['name'].dirty && form.controls['name'].errors?.maxlength">Maximal length is 100</li>
        <li *ngIf="form.controls['name'].dirty && form.controls['name'].errors?.emptyString">Can not be empty string.</li>
      </ul>
    </div>
  </div>

  <!-- Surname -->
  <div class="form-group">
    <label for="surname">Surname:</label>
    <div [ngClass]="{ 'has-success': form.controls['surname'].valid, 'has-error': form.controls['surname'].dirty && form.controls['surname'].errors }">
      <input class="form-control" type="text" name="surname" formControlName="surname" placeholder="Surname" autocomplete="off">
      <ul class="help-block">
        <li *ngIf="form.controls['surname'].dirty && form.controls['surname'].errors?.required">This field is required.</li>
        <li *ngIf="form.controls['surname'].dirty && form.controls['surname'].errors?.minlength">Minimal length is 1</li>
        <li *ngIf="form.controls['surname'].dirty && form.controls['surname'].errors?.maxlength">Maximal length is 100</li>
        <li *ngIf="form.controls['surname'].dirty && form.controls['surname'].errors?.emptyString">Can not be empty string.</li>
      </ul>
    </div>
  </div>

  <!-- City -->
  <div class="form-group">
    <label for="city">City:</label>
    <div [ngClass]="{ 'has-success': (form.controls['city'].valid && form.controls['city'].dirty), 'has-error': form.controls['city'].dirty && form.controls['city'].errors }">
      <input class="form-control" type="text" name="city" formControlName="city" placeholder="City" autocomplete="off">
      <ul class="help-block">
        <li *ngIf="form.controls['city'].dirty && form.controls['city'].errors?.maxlength">Maximal length is 100</li>
      </ul>
    </div>
  </div>

  <!-- Desc -->
  <div class="form-group">
    <label for="desc">Description:</label>
    <div [ngClass]="{ 'has-success': (form.controls['desc'].valid && form.controls['desc'].dirty), 'has-error': form.controls['desc'].dirty && form.controls['desc'].errors }">
      <input class="form-control" type="text" name="desc" formControlName="desc" placeholder="Description of the contact" autocomplete="off">
      <ul class="help-block">
        <li *ngIf="form.controls['desc'].dirty && form.controls['desc'].errors?.maxlength">Maximal length is 100</li>
      </ul>
    </div>
  </div>

  <!-- Picture -->
  <div class="form-group">
    <label for="picture">Picture link:</label>
    <div>
      <input class="form-control" type="text" name="picture" formControlName="picture" placeholder="Link to the picture" autocomplete="off">
    </div>
  </div>

  <!-- Numbers -->
  <div class="form-group">
    <label for="numbers">Telephone numbers:</label>
    <ul class="list-group" formArrayName="mobile_numbers">
      <div class="list-group-item" *ngFor="let num of form.controls['mobile_numbers'].controls; let i=index">
        <div formGroupName="{{ i }}" class="d-flex justify-content-around align-items-center">

          <mat-form-field>
            <mat-select placeholder="Type of the number" formControlName="type">
              <mat-option *ngFor="let ty of num_types" [value]="ty">
                {{ ty }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Number" formControlName="number">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Description" formControlName="desc">
          </mat-form-field>

          <div>
            <button type="button" mat-mini-fab color="warn" (click)="removeNumber(i)">X</button>
          </div>
        </div>
      </div>
    </ul>
    <div>
      <button class="btn btn-success" type="button" (click)="addNewNumber()">+</button>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="!form.valid || processing" class="btn btn-success" type="submit">Save</button>
  </div>
</form>
<br>
<br>
