<!--Card-->
<div class="card testimonial-card" style="width: 50%; margin: 0 auto;">
  <!--Bacground color-->
  <div class="card-up indigo lighten-1">
  </div>
  <!--Avatar-->
  <div class="avatar">
    <img class="rounded-circle" [src]="contact?.picture" (error)="contact.picture = 'https://getuikit.com/v2/docs/images/placeholder_600x400.svg'"
      alt="Picture">
  </div>
  <div class="card-body">
    <!--Name-->
    <h4 class="card-title">{{ contact?.name }} {{ contact?.surname }}</h4>
    <hr>
    <h6 class="card-text">{{ contact?.city }}</h6>
    <hr>
    <!--Quotation-->
    <p>
      <i class="fa fa-quote-left"></i>{{ contact?.desc }}
    </p>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let num of contact?.mobile_numbers">
        <strong>{{ num.type | uppercase }}:</strong>
        {{ num.number }} | {{ num.desc }}
      </li>
    </ul>
  </div>
</div>
